*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
}

@font-face {
  font-family: heroFont;
  src: url(LeagueSpartan-Bold.ttf);
}

html {
  overflow-x: hidden;
}

/* ---------- GLOBAL CLASSES ---------- */

body {
  background-color: transparent;
  overflow-x: hidden;
}
section {
    
    margin: 0 auto;
    padding: 2rem 10%;
    width: stretch;
}

img {
  max-width: 100%;
}

.flex {
    display: flex;    
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 23px 0px #000000; 
    box-shadow: 0px 0px 23px 0px #000000;
}



h2 {
    font-size: 4rem;
    margin: 0.5rem auto;
    margin-top: 2rem;
    font-family: heroFont;
    color: white;
}

.h2-dark {
  color: #000;
}

/* ---------- NAV-CSS ----------  */

.pc-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: -5rem;
    
  }

  header {
    display: flex;
    align-items: center;
    position: sticky;
    top: .5rem;
    z-index: -1;
    margin-left: 1rem;
    background-color: #E2EFF3;
  }
  


  .logo-text {
    position: fixed;
    color: #fff;
    top: .1rem;
    left: 1rem;
    font-size: 1.7rem;
    font-weight: 900;
    z-index: 10;
    mix-blend-mode: difference;
    font-family: heroFont;
    font-size: 2.5rem;

  }
  
  
  .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-items p {
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: 400;
  }

 
  
  .nav {
    width: 100%;
    position: inherit;
    background-color:transparent;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
  }
  
  .nav > .nav-header {
    flex: 0.95;
    
  }
  
  .nav > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
    font-size: 1.3rem;
    padding: 10px;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .nav > #nav-check {
      display: none;
  }


  /* hover animation */

.nav-list a:hover {

  transition: color 0.3s ease-in-out;
  
}

.hover-animation {
  display: inline-block;
  position: relative;
  
}

.hover-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(252, 17, 17);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ---------- HERO section ----------  */

.hero {
  background-color: #000000;
  height: 102vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin-top: -4rem;
}

.hero:hover::before {
  opacity: 1;
}

.hero::before {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y), 
    rgba(192, 183, 183, 0.651), transparent 90%);
  content: '';
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 7;
}

.centered-box {
	width: 100%;
	text-align: center;
  font-size: 8rem;
  color: white;
  font-family: heroFont;
}


.cursor {
	border-left: 4px solid white;
}

.ad-circle,
.ad-circle2 {
  position: absolute;
  bottom: 4rem;
  right: 5rem;
  width: fit-content;
  height: fit-content;
  border-radius: 10em;
  color: black;
  font-size: 2rem;
  z-index: 8;
  text-align: center;
}

.ad-circle2 {
  top: 6rem;
  left: 5rem;
}

/* ------------ NEON ANIMATIONs ------------ */ 
  @keyframes neon3 {
    0%,10%,20% {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
      
    }
    26% {
      text-shadow: none;
    }
    27% {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
      
    }
    28% {
      text-shadow: none;
    }
    29% {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
      
    }
    30% {
      text-shadow: none;
    }
    31% {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
      
    }
    32%,33%,39% {
      text-shadow: none;
      
    }
    40%,50%,60%,70%, 80%, 90%, 100%{
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    }
    
  }

  @keyframes neon2 {
    0%,10%,20% {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
      
    }
    23%,24% {
      text-shadow: none;
    }
    
    25%,30%,40%,50%,60%,70%, 80%, 90%, 100%  {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    }
    
  }
  @keyframes neon1 {
    0%,10%,20% {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
      
    }
    21%,22% {
      text-shadow: none;
    }
    
    23%,30%,40%,50%,60%,70%, 80%, 90%, 100% {
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    }
    
  }

  
/* ---------- Price section ----------  */

.price-section {
  background: rgb(22, 22, 22);
  z-index: 5;
  position: relative;
}

.price-item-box {
  padding: 3rem;
  padding-top: 5rem;
  gap: 1rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-family: "Rubik", sans-serif;
}

  .price-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:60%;
    background-color: rgb(23, 23, 23);
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    border-radius: inherit;
  }

  .price-item p {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 95%;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.64);
  }


  .svg {
    width: 30px;
    margin: .3rem;
  }
  .price-item > * {
    margin: 10px;
    
  }

  .once-model h3,
  .bonus-model h3 {
    text-transform: uppercase;
    color: rgb(240, 240, 240);
  }

  .subs-model h3 {
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(240, 240, 240);
  }


  .price {
    font-size: 5rem;
    margin: 0;
    color: white;
  }

  .price-text-light {
    font-weight: 100;
    margin: 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: wheat;
  }


  /* CARDS HOVER */
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.149),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
/* ---------- About section ----------  */

.about-section {
  background-color: #21282b;
  position: relative;
}

.about-item {
    margin: 1rem;
    width: 90%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #E2EFF3;
} 

.about-item h3 {
  color: wheat;
  font-size: 1.5rem;
}
.about-item p {
  color: white;
  font-size: 1.1em;
}

.about-wrapper {
  margin: 0 auto;
}


.about-item > * {
    margin: 10px;
  }

  .about-item1 {
    border: #fffcfc dashed 2.5px;
    background-color: #21282b;
    display: flex;
  justify-content: start;
  }
  .about-item2 {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   background-color: #121516;
  }
  .about-item3 {
    box-shadow: 0px 10px 30px 22px rgba(0,0,0,0.1);
    background-color: #121516;
  }
  .about-item4 {
    box-shadow: 0px 41px 73px 50px rgba(0,0,0,0.2);
    background-color: #121516;
    display: flex;
    justify-content: start;
  }

  .about-img1 {
    position: absolute;
    opacity: .6;
    top: 10%;
    right: 0%;
    z-index: 1;
  }
  .about-img2 {
    position: absolute;
    opacity: .6;
    bottom: 0%;
    right: 30%;
    z-index: 1;
  }
  .about-img3 {
    position: absolute;
    opacity: .6;
    z-index: 1;
    top: -10%;
    left: -10%;
  }

 
/* ---------- Our-work section ----------  */

.our-work {
  background: rgb(22, 22, 22);
}

.our-work-wrapper {
  width: 100%;
 
}

.our-work-item {
  height: 100%;
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: 1rem ;
  background-color: rgba(13, 13, 14, 0);
  box-shadow: 0px 14px 28px 23px rgba(0,0,0,0.1);
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  border-radius: 10px;
  border: 1px solid rgba(249, 245, 245, 0.793);
}
.our-work-item p {
  width: 65%;
  font-size: 110%;
  font-weight: 400;
}
.our-work-item h4 {
  font-size: 1.5rem;
  color: wheat;
}
.our-work-item > *  {
  margin: 1rem;
}

.work-item-btn {
  margin: 2rem auto;
  padding: 10px 20px;
  color: black;
  font-size: large;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: #ffffff 0px 0px 5px, #fefefe 0px 0px 10px, #020414 0px 0px 15px, #7b6771 0px 0px 20px, #000000 0px 0px 30px, #481510 0px 0px 40px, #c73131 0px 0px 50px, #3a3437 0px 0px 75px;
}

.work-item-btn:hover {
  scale: 1.055;
}

.work-img {
  width: 70%;
}
.work-img-alt {
  width: 78%;
}
.our-work-item3 {
  z-index: 10;
}

.phone-pic {
 width: 110%;
  position: relative;
  z-index: 10;
  display: none;
}

/* ---------- Contact section ----------  */


.contact-section {
  width: auto;
  background-color: #21282b;
  position: relative;
  flex-direction: column;
}

.contact-info {
  width: 10%;
  position: relative;
  z-index: 2;
  color: wheat;
}

.contact-section-items {
  align-items: center;
}

.contact-info h4 {
  font-size: 150%;
  
}
.contact-info ul {
  list-style: none;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  
}

.contact-info > ul > a {
  font-size: 110%;
  font-weight: 300;
  margin: 10px;
  text-decoration: none;
  color: white;
  float: left;
  width: fit-content;
  
}

.inline {
  display: inline-table;
}

.contact-img1 {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 50rem;
  opacity: .7;
  z-index: 1;
}
.contact-img2 {
  position: absolute;
  top: -20%;
  right: -20%;
  width: 50rem;
  opacity: .7;

}

footer {
  position: relative;
  z-index: 2;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: center;
  position: relative;
  z-index: 5;
}
.fb {
  margin: 1rem;
}

.email {
  width: 70px;
  margin: 1rem;
  
}

.fb:hover ,.email:hover {
  transform: scale(1.1) ;
  cursor: pointer;
  transform: all 1050ms;
}

.privacy-policy {
  justify-content: center;
  align-items: center;
}

.privacy-policy p {
  opacity: .6;
}


/* Contact form */
  .form-main {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    position: relative;
    z-index: 2;
  }
  .form-main .main-wrapper {
    border-radius: 10px;
    padding: 45px;
    
    box-shadow: 0 0 5px 5px #00000020;
    backdrop-filter: blur(5px);
    background-color: #61555585;
  }
  @media screen and (max-width: 991px) {
    .form-main .main-wrapper {
      width: 70%;
    }

    
  }
 
  .form-main .main-wrapper .form-head {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0 25px;
  }
  .form-main .main-wrapper .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .form-main .main-wrapper .form-wrapper .form-card {
    position: relative;
    width: 100%;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-input {
    padding: 20px 25px 15px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    background: transparent;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    box-sizing: border-box;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-input:valid, .form-main .main-wrapper .form-wrapper .form-card .form-input:focus {
    border: 1px solid #515151;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-input:valid ~ .form-label, .form-main .main-wrapper .form-wrapper .form-card .form-input:focus ~ .form-label {
    color: #515151;
    top: 30%;
    transform: translateY(-70%);
    font-size: 13px;
    line-height: 23px;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill, .form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill:hover, .form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill:focus, .form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-input::-webkit-outer-spin-button, .form-main .main-wrapper .form-wrapper .form-card .form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-label {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-textarea {
    padding: 20px 25px 15px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    background: transparent;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-textarea:valid, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:focus {
    border: 1px solid #515151;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-textarea:valid ~ .form-textarea-label, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:focus ~ .form-textarea-label {
    color: #515151;
    top: 18%;
    transform: translateY(-82%);
    font-size: 13px;
    line-height: 23px;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill:hover, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill:focus, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
  }
  .form-main .main-wrapper .form-wrapper .form-card .form-textarea-label {
    position: absolute;
    left: 25px;
    top: 30%;
    transform: translateY(-70%);
    pointer-events: none;
    transition: 0.3s;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
  
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0 0;
  }
  
  .btn-wrap button {
    padding: 0 32px;
    font-size: 18px;
    line-height: 48px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 5px 5px #00000020;
  }
  
  .btn-wrap button:hover {
    border: 1px solid #000;
    background: transparent;
  }

  .privacy-policy-body {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 1rem auto;
      font-size: 1.5rem;
      padding: 3rem;
  }

  .privacy-policy-body > p {
    margin: 1rem;
  }

  .bold {
    font-weight: bold;
  }

/* ---------- 	MEDIA QUERIEs ----------  */


@media (max-width: 1190px) {

  
  .centered-box {
    font-size: 6rem;
  }

  .hero-img {
    width: 400px;
    height: 400px;
  }

  .cross1 {
    width: 500px;
  }

  .cross2 {
    width: 400px;
  }

  .price-section,
  .our-work,
  .about-section {
    padding: 2rem 10px;
   
  }

  .price-item-box {
    padding: 3rem 0;
  }

  .contact-img1 {
    left: 100px;
    top: 200px;
    width: 700px;
  }
  .contact-img1 {
    width: 600px;
  }

  .our-work-item {
    margin: .5rem;
  }
}
@media (max-width: 768px) {
  .centered-box {
    font-size: 4rem;
  }
  
}
@media (max-width: 588px) {

  .centered-box {
    font-size: 3rem;
  }

  .html {
    font-size: 16px;
  }


  .logo-text {
    display: none;
  }
  
  .nav > .nav-list > li {
    padding-top: .2rem;
  }

  

  h2 {
    font-size: 3rem;
    text-align: center;
    position: inherit;
    z-index: 10;
  }

  .price-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: .2rem;
  }

  .price-item ul{
    margin: .5rem;
  }
  .price-item > h3 {
    text-transform: uppercase;
  }

  .subs-model {
    width: 90%;
    margin: 1rem;
  }
  .subs-model p {
    margin: 1rem;
    font-size: 100%;
  }

  .subs-model > ul > li {
    font-size: 100%;
  }

  .once-model {
    width: 90%;
    z-index: 1;
    margin: 1rem;
    padding: 0px;
    
  }

  .bonus-model {
    width: 90%;
    z-index: 1;
    margin: 0px;
    padding: 0px;

  }


  .about-item {
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
  }

  .about-item p {
    padding: 5px;
  }

  .our-work-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-work-item {
    width: 90%;
  }

  .contact-img2 {
    display: none;
  }

  .contact-section-items {
    flex-direction: column;
    margin-top: -30px;
  }

  .form-main .main-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    order: 1;
  }

  .contact-info-offers {
    width: 80%;
    margin: 1rem auto;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-info-nav {
    width: 80%;
    margin: 1rem auto;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-info ul {
    margin: 1rem auto;
  }


}
  
  @media (max-width: 480px) {
    .nav {
      padding: 1rem;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      z-index: 999;
    }
  
    .nav > .nav-btn > label > span {
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: white;
      border-radius: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform .4s, width .4s;
      z-index: 999;
    }

    .nav > .nav-list > li a {
        text-decoration: none;
        color: white;
        cursor: pointer;
      }
  
    .nav > .nav-btn > label > .line-1{
      transform: translate(-50%, -8px);
    }
    
    .nav > .nav-btn > label > .line-3{
      transform: translate(-50%, 5px);
    }
  
    /* animating on opened menu lines */
  
    .nav > .open-menu > label > .line-1 {
      transform: translate(-50%, -2.5px) rotate(-45deg);
    }
    .nav > .open-menu > label .line-2 {
      width: 0;
    }
    .nav > .open-menu > label .line-3 {
      transform: translate(-50%, -2.5px) rotate(45deg);
    }

    .nav > .open-menu > label > span{
        background-color: white;
    }

    .nav > .open-menu > .nav-list {
        top: 0%;
    }
  
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: 0;
      transition: all 0.3s ease-in;
      top: 0;
      left: 0%;
      overflow: hidden;
      z-index: 10;
      opacity: .9;
    }
    .nav > .nav-list > li {
        width: 100%;
        margin-top: 1rem;
        background-color: transparent;
        text-align: center;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height: 375px;
      background-color: rgb(8, 0, 0);
      position: absolute;
      z-index: 1;
      top: 0;
      padding-top: 100px;
    }
  
  }



